<div class="ml-3">
  <p class="h5 text-muted"> <%= property.district_name %> </p>
  <p class="font-weight-bold h5 "> <%= "#{property.address}, #{property.number}" %> </p>
  <div class="d-flex justify-content-between">
    <p class="font-weight-bold h5"> <%= property.state_short_name %> </p>
    <p class="font-weight-bold h5 pr-4"> R$ <%= property.price %>.00 </p>    
  </div>
</div>
