<div class="container-fluid px-0 pb-5">
  <img class="w-100" src="assets/tbs.jpeg">
  <div class="text-middle text-light h1"> Your home wherever you are </div></br>
  <div class="text-middle-low text-light h4"> Beautifully designed, fully furnished apartments in São Paulo, Rio de Janeiro and Brasília to make you feel at home</div>
  <div class="select-middle-low" id="state-select-image-body">
    <%= render partial: '/states/state_select' %>
  </div>
</div>

<div class="d-flex justify-content-center index-carousel">
  <div class="owl-carousel owl-theme">
    <% @properties[0..5].each_with_index do |pr, index| %>
      <div class="item">
        <%= render partial: 'card_property', locals: { property: pr, index: index } %>
      </div>
    <% end %>
  </div>
</div>
