@import "bootstrap";
@import "properties.scss";
@import "apartments.scss";

footer div { 
  min-height: 50px; 
  margin: 0px !important;
}

body{ 
  min-height: 100vh; 
  margin: 0px !important;
}

.row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.fa-bed.img , .fa-bath.img, .fa-bath.img{
  color: white;
}

.h-600{
  height: 600px;
  position: absolute;
}

.navbar{
  height: 60px !important;
}

.owl-carousel.owl-theme.owl-loaded.owl-drag{
  width: 1200px !important;
}

.card.card-property, .owl-item.active{
  .carousel.slide, img{
    width: 325px !important;
    height: 300px;
    padding-bottom: 30px;
  }
  width: 350px !important;
}

.owl-item.active {
  margin: 30px;
}

.owl-prev, .owl-next{
  width: 30px;
  height: 30px;
  border-radius: 15px !important;
  position: absolute;
  top: 50%;
  display: block !important;
  border:0px solid black;
}

.owl-prev { left: -20px; }
.owl-next { right: -50px; }
.owl-prev i, .owl-next i { 
  width: 30px;
  height: 30px;
  border: 2px solid grey;
  border-radius: 15px;
  padding-top: 5px;
}

.owl-carousel.owl-theme.owl-loaded.owl-drag, .owl-stage, .owl-stage-outer{
  max-height: 500px !important;
}

.index-carousel {
  margin-bottom: 100px;
}
