// Place all the styles related to the properties controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.prop-code{
  font-size: 0.875rem;
  border-radius: 16px;
}

.carousel-item {
  width: 500px !important;
}

.text-middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.middle-div { 
  position: absolute;
  width: 70%;
  top: 63%;
  left: 55%;
  transform: translate(-50%, -50%);
}

.property-photo {
  min-height: 300px;
  max-height: 580px;
}

.properties-list-show {
  padding-top: 500px;
}

.basic-infos{
  position: relative;
  padding-top: 450px;
  left: 18%;
  height: 200px;
}

.another-infos{
  position: relative;
  width: 400px !important;
  left: 19%;
  padding-top: -100px;
}

.properties-show{
  min-height: 800px;
}

.contact-properties {
  max-width: 300px !important;
  height: 300px;
  position: relative;
  width: 400px;
  padding: 20px 40px;
  margin-top: 440px;
  left: 50%;
  button {
    border-radius: 16px;
  }
}

.apartment-description {
  position: relative;
  margin-top: -80px;
  width: 40%;
  left: 39%;
  transform: translate(-50%, -50%);
}

.text-middle-low {
  position: absolute;
  width: 70%;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.select-middle-low {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 70%;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.carousel, .carouselExampleIndicators {
  padding-top: 10px;
  padding-left: 20px;
  width: 400px;
}

.card-property {
  width: 430px;
  height: 400px;
  position: relative;
  float: left;
}

.properties-cards {
  width: auto;
  height: auto;
}

.show-carousel{
  margin-bottom: 100px;
}

.room-arrangement{
  width: 600px;
}

div.row.apartment-amenities, div.building-features {
  width: 800px;
}
