<div id="apartments_list"> 
  <div class="d-flex row justify-content-center mt-3 pt-3 pl-4">
    <%= render partial: 'list', locals: { properties: @properties } %>
  </div>
</div>
<div class="d-flex justify-content-center pb-4">
  <%= link_to 'Load More', apartments_path(page: 2), remote: true, id: 'load_more', class:"btn btn-primary" %>
</div>